%p Welcome the the Mailboxer Messenger Dummy app.
%nav
  - if current_user
    = link_to "Inbox", messaging_path
    = link_to "Sign out", destroy_user_session_path, method: :delete
  - else
    = link_to "Register", new_user_registration_path
    = link_to "Sign in", new_user_session_path
