- if @box == 'inbox'
  %h2 Inbox
- if @box == 'sent'
  %h2 Sent
- if @box == 'trash'
  %h2 Trash
%table#box
  %tr
    %th
    %th Sender
    %th Subject
    %th Messages
    %th
  - @messages.each do |m|
    %tr
      %td
        %input{ type: :checkbox }
      %td= link_to m.last_sender, message_path(m)
      %td= link_to m.subject, message_path(m)
      %td= link_to m.count_messages, message_path(m)
      %td= link_to truncate(m.last_message.body), message_path(m)
